@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ffffff;
    width: 920px;
    height: 100vh;
    max-width: 1200px;
}

/* Header Navigation Tabs */
.topnav {
    /* overflow: hidden; */
    width: 100%;
    background: #ffffff;
    margin: 70px 0px -45px ;
    position: relative;
    left: 30px;
    top: 14px;
    display: block;
    align-self: center;
    transform: translate(75%, 170%);
}

.topnav a {
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 19.34px;
    font-weight: 600;
    text-transform: uppercase;
    color: #808080;
    padding: 12px 16px;
    margin: -50px 65px 50px 30px;
}

.topnav a.active {
    color: #000;
}

.topnav a.menu-icon {
    display: none;
}

main {
    width: 200%;
    height: 50vh;
    background: #ffffff;
    color: #333533;
    transform: translate(-50%, 90%);
}

/* Home Page Styling */

.container {
    margin: 10px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: -40%;
}

.rectangle {
    background: #000;
    height: 55vh;
    width: 15px 45px 0 -20px;
    padding: 30px;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.05);
}

.content {
    width: 90%;
    margin: -24px 0px 9px 0px;
    position: relative;
    left: -5%;
    top: -6%;
    transform: translate(10%, 0%);
}

/* Heading Styling  */
h1 {
    color: #000;
    font-size: 40px;
    font-weight: 500;
    line-height: 89px;
}

h3 {
    color: #301b1b;
    font-size: 29px;
    font-weight: 700;
    line-height: 75px;
}

p {
    font-size: 21px;
    color: #000;
    font-weight: 500;
    line-height: 29px;
}

.img {
    width: 0%;
    margin: -55px 0px 0px 12px;
    position: relative;
    left: -15%;
    top: 0;
    transform: translate(-27%, 8%);
    /* height: 4vh; */
}

/* Project Page Styling */
.container1 {
    width: 98%;
    height: 100vh;
    margin: -190px -790px 5px 890px;
    display: flex;
    flex: 1 0 9;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
    /* text-align: center; */
}

.container1 .img2 {
    width: 4%;
    height: 4vh;
    margin: 0 320px 0 -130px;
}

.container1 .img3 {
    margin: -295px 57px 9px -19px;
}

.container1 .img4 {
    margin: -196px 159px 50px 125px;
}

aside {
    width: 35%;
    margin: 45px 0px 0 20px;
    font-size: 23px;
    position: relative;
    left: -10%;
    top: -30%;
    
}

aside ul p {
    margin: 30px 3px 8px;
}

aside .btn {
    margin: 20px 45px 0px 6px;
    font-size: 14px;
    font-weight: 600;
    width: 16%;
    height: 7vh;
    border: 4px solid black;
}

aside .btn1 {
    margin: 30px 45px 0px 6px;
    font-size: 14px;
    font-weight: 600;
    width: 25%;
    border: px solid black;
}

aside .btn2 {
    margin: -10px 45px 50px -166px;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: 45%;
    left: 29%;
    height: 7vh;
    padding: 5.7px;
    width: 16%;
}

/* AboutMe Page Styling */
.content1 {
    margin: 7px 0px 20px 10px;
    width: 100%;
    height: 70vh;
    position: relative;
    left: -19%;
    top: 0;
}

.content1 h1 {
    margin: 9px 30px 0px 100px;
    width: 90%;
    font-size: 32px;
}

.content1 h3 {
    margin: -9px 50px 50px 100px;
    width: 100%;
    font-size: 30px;
}

.content1 ul {
    margin: 49px 49px;
}

.content1 ul p {
    margin: -34px 60px 59px 50px;
    font-weight: 500;
    font-size: 238x;

}

.img1 {
    margin: 0 -30px 0 0;
    width: 0%;
    position: relative;
    top: -10%;
    left: 15%;
}

/* Download button  */
.content1 .btn {
    margin: -10px 9px 50px 98px;
    width: 30%;
    font-size: 16px;
    font-weight: 700;
    border: 4px solid black;
}

/* #my_iframe {
    display: none;
    border: 1px solid black;
    width: 25%;
    height: 6vh;
    position: absolute;
    top: 261px;
    margin: 0 189px -95px 99px;
} */

.content2 {
    margin: 109px -109px 120px 20px;
    width: 90%;
    position: relative;
    height: 100vh;
    bottom: -60%;
    left: 51%;
}

.content2 h3 {
    margin: 25px 127px -10px -67px;
    font-size: 45px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    position: relative;
    top: 0%;
    left: 10%;
}

.content2 ul li {
    margin: 44px 223px 44px 103px;
    font-size: 18px;
    font-weight: 600;
    line-height: 39px;
}

/* ContactMe Page Styling */

section {
    width: 70%;
}

form {
    width: 70%;
    margin: -40px 150px 70px -10px;
}

label {
    color: #000000;
    font-size: 29px;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 7px;
    box-sizing: border-box;
    margin: 6px 0px 16px;
    resize: vertical;
}

input[type=sumbit] {
    background: #000;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
    width: 40%;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

input[type=sumbit]:hover {
    background: transparent;
    color: black;
}

.flex {
    margin: -150px -910px 405px 90px;
    position: fixed;
    left: 97%;
    bottom: 10%;
    height: 7vh;
    width: 40%;
}

.flex h2 {
    font-size: 29px;
    font-weight: 500;
    margin: 0 82px 0;
}

.box {
    height: 30vh;
    width: 80%;
    margin: 20px 70px 0 87px;
    /* text-align: center; */
    border: 1px solid #000000;
    border-radius: 7px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.box ul li {
    list-style: none;
    /* padding: 145px 0 -445px; */
    margin: 470px 50px -390px 180px;
    /* height: 4vh; */


}

.fa-brands {
    width: 9%;
    height: 1vh;
    padding: 0;
    font-size: 26px;
    display: inline-block;
    position: relative;
    left: 15%;
    bottom: 50%;
    margin: 100px 110px 0px -108px;
}

a{
    text-decoration: none;
    color: black;
}

.icon {
    width: 15%;
    margin: 45px 40px -520px 50px;
    /* padding: 56px 15px; */
    height: 6vh;
    background-color: #ffffff;
}

.call {
    margin: -0px 45px 7px 0;
}

.google {
    margin: -42px 70px -69px 0;
}

/* Button  Styling */
button {
    margin: 25px 6px 0px;
    padding: 12px;
    width: 2%;
    position: relative;
    height: 7vh;
    text-transform: uppercase;
    border: 3px solid black;
    border-radius: 13px;
    background: #ffffff;
}

.btn {
    margin: 25px 23px -49px;
    font-size: 12px;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 7px;
    cursor: pointer;
    padding: 12px 28px;
    text-transform: uppercase;
    background: transparent;
}

.btn3 {
    font-size: 15px;
    width: 15%;
    height: 6vh;
    padding: 0 0px;
    border: 4px solid black;
    position: relative;
    left: -2.5%;
    bottom: 0%;
}

.btn:hover {
    background: #000000;
    color: #ffffff;
    transition: 5ms ease-in-out;
}


@media (max-width: 900px) {
   body{
    width: 50%;
    height: 65vh;
   }

   .topnav a.menu-icon{
    float: left;
    display: block;
    position: absolute;
    top: 40%;
    left: -90%;
   }
   .topnav .responsive a {
    position: relative;
   }
   .topnav .responsive a.menu-icon {
    position: absolute;
    right: 0;
    top: 0;
   }
   .topnav a:not(first-child){
    display: none;
   }
   .topnav .responsive a {
    float: none;
    display: block;
    text-align: left;
   }

   /* Home page */
   .rectangle{
    display: none;
   }

   .content{
    width: 80%;
    position: relative;
    left: 52%;
    top: -75%;
   }

   .img{
    width: 0%;
    position: absolute;
    left: 55%;
    top: 90%;
   }

   .btn3{
    width: 20%;
    height: 7vh;
    transform: translate(5%, 9%);
   }


   /* Project Page */
   .img2{
    width: 7%;
    position: relative;
    bottom: 6%;
    left: 0;
    padding: 78px 0;
   }

   #image1{
    width: 20%;
    height: 20vh;
    margin: 10px 0;
    padding: 97px;
    transform: translate(-74%, -210%);
   }
   #image2{
    width: 20%;
    height: 30vh;
    margin: 190px 0;
    padding: 97px;
    transform: translate(0%, -150%);
   }

   #image3{
    width: 20%;
    height: 30vh;
    margin: 160px 0;
    padding: 97px;
    transform: translate(0%, -20%);
   }

   #image4{
    width: 20%;
    height: 30vh;
    margin: 165px 0;
    padding: 97px;
    transform: translate(0%, 140%);
   }
   #image5{
    width: 20%;
    height: 30vh;
    margin: 160px 0;
    padding: 97px;
    transform: translate(0%, 275%);
   }
   #image6{
    width: 20%;
    height: 30vh;
    margin: 260px 0;
    padding: 97px;
    transform: translate(0%, 350%);
   }
   #image7{
    width: 50%;
    height: 53vh;
    margin: 160px 0;
    padding: 97px;
    transform: translate(0%, 285%);
   }
   #context1{
    margin: 99px 0 0;
    height: 20vh;
    transform: translate(4%, 76%);
   }
   #context2{
    margin: 96px 0 0;
    height: 45vh;
    transform: translate(4%, 135%);
   }
   #context3{
    margin: 96px 0 0;
    height: 35vh;
    transform: translate(4%, 296%);
   }
   #context4{
    margin: 126px 0 0;
    height: 35vh;
    transform: translate(4%, 416%);
   }
   #context5{
    margin: 126px 0 0;
    height: 45vh;
    transform: translate(4%, 396%);
   }
   #context6{
    margin: 176px 0 0;
    height: 45vh;
    transform: translate(4%, 466%);
   }
   #context7{
    margin: 296px 0 0;
    height: 45vh;
    transform: translate(-20%, 546%);
   }

  .container1 .img3{
    width: 0px;
    position: relative;
    left: -70%;
    top: 40%;
   } 
   .img4{
    position: relative;
    left: -60%;
    top: 90%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    gap: 56%;
    padding: 196px 0 678px;
    align-items: center;
   } 
   .container1 aside{
    width: 100%;
    height: 54vh;
    position: relative;
    padding: 57px 0px;
    margin-top: 60px;
    left: -65%;
    top: 30%;
    /* text-align: center; */
   }
   .container1 aside ul li p{
    font-size: 2px;
    width: 10%;
   }
   .container1 aside .btn{
    width: 22%;
    height: 7vh;
   }
   .container1 aside .btn1{
    width: 34%;
    height: 7vh;
   }
   .container1 aside .btn2{
    width: 34%;
    height: 7vh;
    position: relative;
    top: 25%;
    left: -7%;
    transform: translate(7%, 130%);
   }

   /* About Me Page */
   .content1 {
    width: 80%;
    font-size: 4px;
    transform: translate(-12%, 0%);
   }
   .content1 h3 {
    font-size: 27px;
   }
   .content1 ul p {
    font-size: 24px;
    width: 95%;
   }
   .img1{
    width: 0%;
    position: absolute;
    left: 60%;
    top: 135%;
   }

   .content2{
    width: 100%;
    position: relative;
    top: 255%;
    left: 45%;
    height: 60vh;
   }
  .content2 h3{
    font-size: 35px;
   }
   .content2 ul li {
    width: 79%;
    font-size: 20px;
   }
   
  
   /* ContactMe Page Styling */
   section{
    width: 72%;
   }
   form{
    margin: 0 35px 0 149px;
    width: 80%;
    transform: translate(56%, 0%);
   }
   input[type=sumbit] {
    width: 25%;
   }

   .flex{
    width: 75%;
    height: 69vh;
    position: absolute;
    top: 110%;
    left: 35%;
    padding: 50px 0;
   }
  
   .flex ul li {
    font-size: 15px;
    width: 30%;
    margin: -40px 0 125px 0;
    position: relative;
    top: 10%;
    left: 37%;
   }
   .box{
    height: 35vh;
    width: 100%;
    margin-bottom: 526px;
    
   }
   .icon{
    width: 7%;
    margin: 44px 0 0 79px;
   }
   

}

@media(max-width: 600px) {
    body{
        width: 50%;
    }
    .topnav a.menu-icon{
        transform: translate(20%, 0%);
    }
    .container1{
        position: relative;
        left: -56%;
    }
    .container1 aside .btn{
        height: 5vh;
        width: 30%;
    }
    .content{
        width: 90%;
        font-size: 14px;
    }
    .content h1{
        font-size: 33px;
    }
    .content h3{
        font-size: 22px;
    }
    .content p{
        font-size: 20px;
    }
    .img{
        width: 0;
        /* transform: ; */
    }
    .img1{
        transform: translate(-29%, 40%);
    }
    .content1{
        width: 90%;
    }
    .content2{
        transform: translate(0%, 50%);
    }
    .content2 h3{
        font-size: 25px;
    }
    .btn3{
        height: 7.5vh;
    }
    form{
        transform: translate(34%,0%);
    }
    .flex{
       width: 70%;
       transform: translate(-7%, 5%);
    }
    .flex h2{
        font-size: 23px;
    }
}

